html, body {
    height: 100%;
    min-height: 100%;
}

.right {
    display: inline-block;
    float: right;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}

.centered {
    margin: auto;
}

.hfill {
    width: 100%;
}

.vfill {
    height: 100%;
    min-height: 100%;
}

div.vspacer {
    margin-top: 20px;
}

div.cell {
    padding: 10px;
}

div.bare {
    margin: 0;
    padding: 0;
    border: 0;
}

.shrinkwrap {
    display: inline-block;
}
