.right {
    display: inline-block;
    float: right;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}

.centered {
    margin: auto;
}

div.vspacer {
    margin-top: 20px;
}

.shrinkwrap {
    display: inline-block;
}
